body, html {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f5f5f5;
    /*overflow-x: scroll;*/
    /*overflow-y: scroll;*/
}

.navbar {
    flex: 0 0 auto;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #007bff;
}

.content, .sidebar {
    flex: 1 0 auto;
}

.sidebar {
    background-color: #343a40;
    width: 200px;
    position: fixed;
    top: 56px;
    bottom: 0;
    overflow: auto;
    right: 0;
    transition: width 0.5s;
    box-shadow: -2px 0 4px rgba(0, 0, 0, 0.1);
}

.content {
    background-color: #fff;
    margin-right: 210px;
    margin-left: 10px;
    margin-top: 1%;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.58);
    transition: margin-right 0.5s;
    height: 10%;
    overflow-y: auto;
    overflow-x: scroll;
    scroll-behavior: inherit;
    margin-bottom: 10px;
}

.header {
    margin-bottom: 10px;

}

.collapsed {
    width: 50px !important;
}

.nav-link strong {
    display: inline;
    color: #fff;
}

.collapsed .nav-link strong {
    display: none;
}

#searchContainer {
    margin: 10px;
    display: none;
}

#toggleSidebar {
    color: #fff;
    transition: color 0.5s;
}

#toggleSidebar:hover {
    color: #007bff;
}

.nav-item:hover {
    background-color: rgba(197, 225, 255, 0.34);
}

.tab {
    overflow: hidden;
    border-bottom: 1px solid #ccc;
    /*background-color: #f1f1f1;*/
}

.tab span {
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 7px 15px ;
    font-size: 10px;
}


.tab span:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab span.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}
.i-close{
    margin: 0px 0px 0px 5px;
}
.i-close:hover{
    color: red;
    cursor: pointer;
}
.nav.nav-tabs {
    display: flex;
    flex-direction: row-reverse; /* Reverse the order of items */
    text-align: right; /* Align text to the right */
}
.nav.nav-tabs .nav-item {
    margin-left: 10px; /* To adjust spacing between items */
}
.section {
    border: 1px solid #9a9a9a;
    height: 250px; /* ارتفاع را طبق نیاز خود تنظیم کنید */
    /*width: 1000px;*/
    margin: 5px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.58);
    background-color: #f5f5f5;

}
.sections {
    /*float: right;*/
}

.nav-link {
    color: #007bff;
    cursor: pointer;
}

.nav-link.active {
    color: #fff;
    background-color: #007bff;
}

/* Style the Image Used to Trigger the Modal */
#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}
.marquee {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
}
.marquee span {
    display: inline-block;
    padding-right: 100%;
    animation: marquee 20s linear infinite;
}
@keyframes marquee {
    0% {
        transform: translate(-100%, 0);
    }
    100% {
        transform: translate(100%, 0);
    }
}

.carousel-inner img {
    width: 100%;
    height: 100%;
}


